click==8.4.1
et_xmlfile==2.0.0
Flask==3.0.3
Flask-Cors==4.0.0
Flask-Login==0.6.3
Flask-Mail==0.10.0
Flask-SQLAlchemy==3.1.1
greenlet==3.5.1
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
numpy==2.2.6
openpyxl==3.1.2
pandas==2.3.3
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2026.2
six==1.17.0
SQLAlchemy==2.0.30
typing_extensions==4.15.0
tzdata==2026.2
Werkzeug==3.0.3
gunicorn
